[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
nltk = "*"
numpy = "*"
pandas = "*"
plotly = "*"
pyspark = "*"
streamlit = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.13"
